#right{
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: right-move;
  animation-duration: 10s;
  animation-iteration-count: infinite;

}
@keyframes right-move {
  0% {left:1%; top:0px;}
  50% {left:90%; top:0px;}
  100% {left:1%; top:0px;}
}
#left-down{
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: left-down-move;
  animation-duration: 10s;
  animation-iteration-count: infinite;

}

@keyframes left-down-move {
  0% {top:0%}
  50% {top:90%}
  100% {top:0%}
}
#right-down{
  width: 100px;
  height: 100px;
  position: absolute;
  animation-name: right-down-move;
  animation-duration: 10s;
  animation-iteration-count: infinite;

}

@keyframes right-down-move {
  0% {left: 90%; top:0px}
  50% {left: 90%; top:90%}
  100% {left: 90%; top:0px}
}


  .center-things {
    max-width: 500px;
    margin:auto
  }



  #poogers-button {

    background-color:green;
  }

  h1 {
    font-size: 60px;
    font-family: sans-serif;
  }
  p {
    font-size:30px;
    font-family: sans-serif;
  }
  body {
    background-color:lightBlue;
  }
